<div>
  <h1>Lista de productos</h1>
  <ul>
    {{#each products}}
      <li>
        <strong>Titulo: </strong>{{this.title}}<br />
        <strong>Precio: </strong>{{this.price}}<br />
        <strong>Descripcion: </strong>{{this.description}}<br />
        <strong>Categoria: </strong>{{this.category}}<br />
        {{#if this.image}}
          <img src='{{this.image}}' alt='{{this.title}}' />
        {{/if}}
      </li>
      <br />
    {{/each}}
  </ul>
</div>