<nav>
  <div class='flex justify-between bg-gray-800 p-4 text-white'>
    <div>
      <a href='/views/users'>Perfil</a>
    </div>
    <div>
      <a href='/views/products'>Productos</a>
    </div>
    <div>
      <a href='/views/cart'>
        <i class='fas fa-shopping-cart'></i>
        Carrito
      </a>
    </div>
  </div>
</nav>
<div class='m-5 p-5 bg-gray-800 rounded'>
  <h1 class='text-center text-xl text-white font-bold'>Tus datos</h1>
  <div class='w-full flex items-start jusitfy-center flex-col text-white'>
    <p>Nombre: {{user.firstName}} {{user.lastName}}</p>
    <p>Correo electronico: {{user.email}}</p>
    <p>Edad: {{user.age}}</p>
    <p>Rol: {{user.role}}</p>
  </div>

  <button
    id='logout-button'
    class='mt-2 px-3 bg-gray-300 rounded cursor-pointer hover:bg-gray-700 hover:text-white'
  >Salir</button>
</div>

<script type='module' src='/js/logout.js'></script>